DATABASE_HOST=localhost
DATABASE_NAME=nuzdin_db
DATABASE_USER=web_market_user
DATABASE_PASSWORD=replace-with-strong-db-password
DATABASE_PORT=5432

SECRET_KEY=replace-with-long-random-secret
TELEGRAM_BOT_TOKEN=replace-with-botfather-token
FLASK_DEBUG=False

CRYPTO_ASSET=USDT
CRYPTO_NETWORK=TRC20
CRYPTO_ADDRESS=replace-with-wallet-address
CRYPTO_USDT_RUB_RATE=
CRYPTO_RATE_URL=https://www.cbr.ru/scripts/XML_daily.asp
CRYPTO_RATE_CACHE_SECONDS=3600
CRYPTO_QR_PAYLOAD_TEMPLATE=

SBP_QR_PAYLOAD_TEMPLATE=

ADMIN_ALLOWED_IPS=
ADMIN_ALLOWED_HOSTS=YOUR_DOMAIN_OR_78.17.67.131
